@tablet: ~"(min-width: 768px) and (max-width: 1024px)";
@desktop: ~"(min-width: 1024px)";
@mobile: ~"(max-width: 480px)";
@large: ~"(min-width: 1920px)";
@retina: ~"(min-width: 2560px)";

* {
	margin: 0;
	padding: 0;
}

body {
	background-color: #808080;
}
.wrapper{
	background-repeat: no-repeat;
	-webkit-background-size: cover;
	background-size: cover;
}

.wrapper_overlay {
	position: relative;
	z-index: 2;
	width: 100%;
	height: 100vh;
	display: flex;
	justify-content: center;
	align-items: center;
	background-color: rgba(20,20,20,0.75);
	@media @mobile {
		min-height: 100vh;
		height: auto;
	}
	@media @tablet {
		min-height: 100vh;
		height: auto;
	}
}
.currentWeather {
	width: 30%;
	height: 300px;
	background: rgba(10,10,10, 0.70);
	color: white;
	font-size: 28px;
	font-family: 'Montserrat', sans-serif;
	letter-spacing: -0.5px;
	display: flex;
	justify-content: center;
	flex-direction: column;
	align-items: center;
	text-align: center;
	a {
		text-decoration: none;
	}
	.fvicon {
		margin-left: 4px;
		position: relative;
		bottom: 4px;
		right: 4px;
		width: 25px;
		height: 25px;
	}
	.currenticon {
		margin-bottom: 10px;
		width: 70px;
		height: 70px;
	}

	input {
		margin: auto;
		margin-top: 20px;
		margin-bottom: 20px;
		width: 100%;
	}
	p {
		position: relative;
		top: 20px;
		font-size: 15px;
	}
	@media @mobile {
		width: 90%;
		height: auto;
		padding: 20px 10px;
		font-size: 24px;
		input {
			width: 90%;
		}
		button {
			margin-top: 10px;
		}
	}
	@media @tablet {
		width: 70%;

	}
	@media @retina {
		width: 40%;
		font-size: 40px;
		height: auto;
		padding: 30px 0px;
		.currenticon {
			width: 150px;
			height: 150px;
		}
		.fvicon {
			width: 35px;
			height: 35px;
		}
		button {
			font-size: 25px;
		}
		input {
			height: 50px;
			font-size: 20px;
		}
	}

}
.searcherror {
		border: 2px solid red;
	}
.searchnoerror{
	border: none;
}
.moreInfo {
	width: 70%;
	min-height: 100px;
	height: auto;
	background: rgba(10,10,10, 0.70);
	color: white;
	font-size: 30px;
	font-family: 'Montserrat', sans-serif;

	.preloader2{
		margin-top: 40px;
		margin-left: 20px;
	}
	.dayrow {
		width: 100%;
		height: 100%;
		display: flex;
		justify-content: center;
		align-items: center;

		.day {
			padding-bottom: 20px;
			transition: .3s;
			width: 20%;
			height: 100%;
			display: flex;
			justify-content: center;
			flex-direction: column;
			align-items: center;
			@media @mobile {
				width: 100%;
				border-bottom: 5px solid #252525;
			}
			@media @tablet {
				width: 50%;
			}
			.d_day{
				margin-top: 20px;
				font-size: 24px;
			}
			.d_date {
				font-size: 22px;
			}

			img{
				margin-top: 20px;
				margin-bottom: 20px;
				width: 80px;
				height: 80px;
			}
			.d_temp{

				font-size: 40px;
				margin-bottom: 20px;
			}
			.d_pressure, .d_humidity, .d_wind {
				font-size: 14px;
			}
			@media @retina {
				img {
					width: 150px;
					height: 150px;
				}
				.d_day {
					font-size: 35px;
				}
				.d_pressure, .d_humidity, .d_wind {
				font-size: 20px;
			}
			}
			
		&:hover{
			background-color: rgba(0,0,0,0.50);
			transition: .3s;
		}
		}
		@media @mobile {
				flex-direction: column;
		}
		@media @tablet {
				flex-wrap: wrap;
		}
	}
	@media @mobile {
		width: 90%;
		
	}
	@media @tablet {
		width: 80%;
	}
	@media @retina {
		width: 70%;
	}
}
.favourites {
	padding: 10px;
	width: 30%;
	min-height: 300px;
	height: auto;
	background: rgba(10,10,10, 0.70);
	color: white;
	font-size: 20px;
	font-family: 'Montserrat', sans-serif;
	display: flex;
	justify-content: center;
	align-items: center;
	@media @mobile {
		min-height: 100px;
		height: auto;
		width: 90%;
		font-size: 16px;
	}
	@media @tablet {
		width: 70%;
	}
	@media @retina {
		font-size: 25px;
	}
	td:first-child{
		text-align: left;
		width: auto;
	}
	td:nth-child(2){
		padding-left: 20px;
	}
	a {
		text-decoration: none;
		color: white;
	}
	img {
		width: 25px;
		height: 25px;
		@media @mobile {
			margin-bottom: 5px;
			width: 20px;
			height: 20px;
		}
	}
}
.nav {
		font-size: 20px;
		line-height: 50px;
		height: 50px;
		background: rgba(10,10,10, 0.70);
		display: flex;
		a{
			text-align: center;
			width: 20%;
			color: white;
			text-decoration: none;
		}
		@media @mobile {
			display: block;
			font-size: 12px;
			a {
				margin-left: 10px;
			}
		}
		@media @tablet {
			display: block;
			a {
				margin-left: 10px;
			}
		}
		@media @retina {
			height: 70px;
			line-height: 70px;
			font-size: 25px;
		}
}
.preloader {
	margin-left: 20px;
}
