<a href="" ng-click="gohome()">Назад</a>
<table>
 	<tr ng-repeat="item in list">
		<td><a href="" ng-click="weatherMoreInfo(item.city, item.country)"> {{item.city + ", " + item.country}} </a></td>
		<td><a href="" ng-click="removecity(item.city, item.country)"><img src="img/fav3.png"></a></td>
	</tr>
</table>


